@import './variables'
    
.header
  padding: 15px
  text-align: center 

.nav
  ul
    list-style: none
    margin: 0
    padding: 0
    display: flex
    justify-content: center 

    li
      margin-right: 6rem 

      &:last-child
        margin-right: 0

      a
        font-family: 'druk'
        font-size: 2rem
        text-decoration: none
        color: #8d8d8d
        font-weight: bold
        transition: color 0.3s ease, text-shadow 0.3s ease

        &:hover 
          color: $accentcolor_green
          text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)

        &.active
          color: $accentcolor_green
          text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)
